<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="css/output.css"/>
    <link rel="stylesheet" href="TaaS.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <script data-domain="simplifythissite.com" src="https://analytics.zatrok.com/js/script.js"></script>
    <HeadOutlet/>
</head>

<body>
<Routes/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>