@inherits LayoutComponentBase

<div class="flex flex-col md:flex-row min-h-screen">
    <main class="flex-grow">
        @Body
    </main>
</div>

<div id="blazor-error-ui" class="bg-gray-50 bottom-0 shadow fixed w-full z-50 hidden">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss cursor-pointer absolute right-3 top-2">🗙</a>
</div>
